<div class="hospital-information-area pt-100 pb-75" [dir]="lang">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card'
                            : 'hospital-information-card-rtl'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-map"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Office Address"
                                    : "عنوان المستشفى"
                            }}
                        </h3>
                        <p>
                            {{
                                lang === "ltr"
                                    ? " Al Wasti, El Fateh, Assiut Governorate 2232121"
                                    : "الطريق المؤدي الي كوبري الواسطي العلوي- شرق النیل بجوار مدارس دار الكوثر"
                            }}
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card'
                            : 'hospital-information-card-rtl'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-envelope"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Email Us"
                                    : "بريدنا الالكترونى"
                            }}
                        </h3>
                        <p>
                            <a href="mailto:info@rouvanhospital.com"
                                >info@rouvanhospital.com
                            </a>
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card'
                            : 'hospital-information-card-rtl'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-phone-call"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Contact Us Free"
                                    : "تواصل معنا مجانا"
                            }}
                        </h3>
                        <p>
                            <a href="tel:19647">{{
                                lang === "ltr" ? "19647" : "١٩٦٤٧ "
                            }}</a>
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
