<!-- Default Feedback Section -->
<div class="review-area bg-f5f5f5 ptb-100" [dir]="lang">
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
            "
        >
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{
                    lang === "ltr"
                        ? "Our Clients Review"
                        : " تعليقات من العملاء"
                }}
            </span>
            <h2>
                {{
                    lang === "ltr"
                        ? "Real Review From Our Real Customer"
                        : " مراجعة حقيقية من عملائنا الحقيقيين "
                }}
            </h2>
            <a routerLink="/testimonials" class="default-btn">
                {{ lang === "ltr" ? " View All " : " عرض الكل " }}
            </a>
        </div>
        <div class="review-slides">
            <owl-carousel-o dir="ltr" [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div
                        [dir]="lang"
                        [ngClass]="
                            lang === 'ltr'
                                ? 'single-review-item'
                                : 'single-review-item-rtl'
                        "
                    >
                        <div class="icon">
                            <i class="flaticon-034-left-quote-1"></i>
                        </div>
                        <p>
                            {{
                                lang === "ltr"
                                    ? " A good hospital. I went once and spent the last ten days of Ramadan there. The previous Ramadan, my daughter was detained and there was great care and attention. "
                                    : "مستشفى كويسة رحت كذا مرة وقضيت هناك اخر عشر ايام من رمضان السابق حجز ابنتى وكان فى اهتمام ورعاية "
                            }}
                        </p>
                        <div class="review-info">
                            <img
                                src="https://angular.hibotheme.com/inba/assets/images/review/review-4.jpg"
                                alt="image"
                            />
                            <h3>
                                {{
                                    lang === "ltr"
                                        ? "Dr. Ahmed El Sayed"
                                        : " د. أحمد السيد "
                                }}
                            </h3>
                            <span>
                                {{
                                    lang === "ltr"
                                        ? "Nephrologists"
                                        : "أطباء الكلى"
                                }}</span
                            >
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        [dir]="lang"
                        [ngClass]="
                            lang === 'ltr'
                                ? 'single-review-item'
                                : 'single-review-item-rtl'
                        "
                    >
                        <div class="icon">
                            <i class="flaticon-034-left-quote-1"></i>
                        </div>
                        <p>
                            {{
                                lang === "ltr"
                                    ? "I visited the hospital for a routine checkup, but I was very impressed with the facilities and services that were available. The hospital has a wide range of specialist departments, including cardiology, oncology, and neurology. The hospital also has a state-of-the-art emergency department, which is equipped to handle all types of emergencies."
                                    : "قمت بزيارة المستشفى لإجراء فحص روتيني، ولكنني أعجبت جدًا بالمرافق والخدمات المتوفرة. يضم المستشفى مجموعة واسعة من الأقسام المتخصصة، بما في ذلك أمراض القلب والأورام والأعصاب. يوجد بالمستشفى أيضًا قسم طوارئ متطور ومجهز للتعامل مع جميع أنواع حالات الطوارئ."
                            }}
                        </p>
                        <div class="review-info">
                            <img
                                src="https://angular.hibotheme.com/inba/assets/images/review/review-2.jpg"
                                alt="image"
                            />
                            <h3>
                                {{
                                    lang === "ltr"
                                        ? "Dr. Sara Ahmed"
                                        : " د. سارة أحمد "
                                }}
                            </h3>
                            <span>
                                {{
                                    lang === "ltr"
                                        ? " Endocrinologists "
                                        : "أطباء الغدد الصماء "
                                }}</span
                            >
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        [dir]="lang"
                        [ngClass]="
                            lang === 'ltr'
                                ? 'single-review-item'
                                : 'single-review-item-rtl'
                        "
                    >
                        <div class="icon">
                            <i class="flaticon-034-left-quote-1"></i>
                        </div>
                        <p>
                            {{
                                lang === "ltr"
                                    ? " I recently had the opportunity to visit the Hospital, and I was very impressed with the overall experience. The hospital is very well-organized, and the staff is highly professional and caring. I was particularly impressed with the doctors, who were very knowledgeable and took the time to explain everything to me in detail. "
                                    : "لقد أتيحت لي الفرصة مؤخرًا لزيارة المستشفى وقد أعجبت جدًا بالتجربة الشاملة. المستشفى منظم بشكل جيد للغاية، والموظفين على درجة عالية من الاحترافية والاهتمام. لقد تأثرت بشكل خاص بالأطباء الذين كانوا على دراية كبيرة واستغرقوا وقتًا لشرح كل شيء لي بالتفصيل."
                            }}
                        </p>
                        <div class="review-info">
                            <img
                                src="https://angular.hibotheme.com/inba/assets/images/review/review-3.jpg"
                                alt="image"
                            />
                            <h3>
                                {{
                                    lang === "ltr"
                                        ? " dr. Mostafa Mahmoud "
                                        : "د. مصطفى محمود"
                                }}
                            </h3>
                            <span>
                                {{
                                    lang === "ltr"
                                        ? " Cardiologists "
                                        : " طبيب قلب"
                                }}</span
                            >
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div
                        [dir]="lang"
                        [ngClass]="
                            lang === 'ltr'
                                ? 'single-review-item'
                                : 'single-review-item-rtl'
                        "
                    >
                        <div class="icon">
                            <i class="flaticon-034-left-quote-1"></i>
                        </div>
                        <p>
                            {{
                                lang === "ltr"
                                    ? " One of the most beautiful hospitals in Egypt. All the staff inside the hospital are respectful and the place and clinics are clean enough. The doctor in the hospital is very nice and the most important thing for them is the comfort of the patient. Honestly, it is one of the most beautiful places I have ever seen. "
                                    : " من اجمل المستشفيات في مصر كل الطاقم داخل المستشفى محترمين  وكفايه نظافة المكان والعيادات . الدكتره في المستشفي جميل جدا واهم حاجة عندهم راحة المريض بصراحه من اجمل الاماكن الا شوفتها"
                            }}
                        </p>
                        <div class="review-info">
                            <img
                                src="https://angular.hibotheme.com/inba/assets/images/review/review-1.jpg"
                                alt="image"
                            />
                            <h3>
                                {{
                                    lang === "ltr"
                                        ? "Dr. Sarah Taylor"
                                        : " د. سارة تايلور"
                                }}
                            </h3>
                            <span>
                                {{
                                    lang === "ltr"
                                        ? " Nephrologists "
                                        : "أطباء الكلى"
                                }}</span
                            >
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
